@model List<User>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Coffee Shop!</h1>
</div>
<li style="color: darkgoldenrod; text-align:center;">
    <a asp-area="" asp-controller="Home" asp-action="NewUser">New User</a>
</li>
<h4>Customer List:</h4>
@foreach(User u in Model){
    <h5>@u.ID. @u.FirstName Birthday: @u.Birthday Had Coffee Today? @u.CheckCoffee </h5>
}