@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>New User Form:</h4>
<form method="post" asp-action="Result">
    <div style="text-align:center; color: rebeccapurple">
        <label for="FirstName">Enter Your First Name:</label><br />
        <input type="text" name="FirstName" placeholder="John" /><br />
        <label for="LastName">Enter Your Last Name:</label><br />
        <input type="text" name="LastName" placeholder="Doe" /><br />
        <label for="Email">Enter Your Email Address:</label><br />
        <input type="email" name="Email" placeholder="John.Doe@gmail.com" /><br />
        <label for="Password">Create A Password:</label><br />
        <input type="password" name="Password" placeholder="123456" /><br />
        <input type="submit" />
    </div>

</form>